<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CaramelandVanilla.ttf</string>
		<string>MADECoachellaBlack.otf</string>
		<string>MADECoachellaBold.otf</string>
		<string>MADECoachellaLight.otf</string>
		<string>MADECoachellaMedium.otf</string>
		<string>MADECoachellaRegular.otf</string>
		<string>MADECoachellaThin.otf</string>
	</array>
</dict>
</plist>
